// Bordered & Pulled
// -------------------------

.#{$fa-css-prefix}-border {
  padding: .2em .25em .15em !important;
  border: solid .08em $fa-border-color !important;
  border-radius: .1em !important;
}

.#{$fa-css-prefix}-pull-left { float: left !important; }
.#{$fa-css-prefix}-pull-right { float: right !important; }

.#{$fa-css-prefix} {
  &.#{$fa-css-prefix}-pull-left { margin-right: .3em !important; }
  &.#{$fa-css-prefix}-pull-right { margin-left: .3em !important; }
}

/* Deprecated as of 4.4.0 */
.pull-right { float: right !important; }
.pull-left { float: left !important; }

.#{$fa-css-prefix} {
  &.pull-left { margin-right: .3em !important; }
  &.pull-right { margin-left: .3em !important; }
}
