// Stacked Icons
// -------------------------

.#{$fa-css-prefix}-stack {
  position: relative !important;
  display: inline-block !important;
  width: 2em !important;
  height: 2em !important;
  line-height: 2em !important;
  vertical-align: middle !important;
}
.#{$fa-css-prefix}-stack-1x, .#{$fa-css-prefix}-stack-2x {
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  text-align: center !important;
}
.#{$fa-css-prefix}-stack-1x { line-height: inherit !important; }
.#{$fa-css-prefix}-stack-2x { font-size: 2em !important; }
.#{$fa-css-prefix}-inverse { color: $fa-inverse !important; }
